.container {
  padding-top: 150px;
  color: black;
}
ul.listNanny {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.wrappTest {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardNanny {
  background: #fbfbfb;
  padding: 20px;
}

.iconFavorite {
  width: 20px;
  height: 20px;
  fill: #11101c;
}

.textNanny {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #8a8a89;
}

.wrappNannyInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nameNanny {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #11101c;
}

.characteristicNanny {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #8a8a89;
}

.characteristicNanny:first-child span {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.characteristicNanny span {
  color: #11101c;
}
.aboutNanny {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: rgba(17, 16, 28, 0.5);
}
.btnMakeForm {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-decoration-skip-ink: none;
  color: #11101c;
  background: #f03f3b;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  border-radius: 30px;
  width: 215px;
  height: 48px;
}

.btnReadMore {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #11101c;
  display: flex;
}

.wrappImg {
  position: relative;
  flex: 0 0 200px;
  display: flex;
  justify-content: center;
  width: 230px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.wrappImg img {
  border: 2px solid rgba(240, 63, 59, 0.2);
  border-radius: 30px;
  width: 200px;
  padding: 15px;
}

.dot {
  position: absolute;
  top: 8px;
  right: 30px;
  width: 30px;
  height: 30px;
  fill: #38cd3e;
}

.wrappLocation {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrappCharacteristicNanny {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrappLocation p svg {
  margin-right: 5px;
}
.wrappLocation p span {
  color: #38cd3e;
}

.wrappLocation p {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #11101c;
}

.iconRating {
  fill: #ffc531;
}

.btnLoadMore {
  background: #f03f3b;
  border-radius: 30px;
  /* padding: 14px 40px; */
  width: 159px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 0;
}

.reviewItem {
  margin-bottom: 25px;
}

.reviewHeader {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.avatarPlaceholder {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  width: 44px;
  height: 44px;
  background: rgba(240, 63, 59, 0.2);
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #f03f3b;
}

.reviewerName {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #11101c;
  margin-bottom: 4px;
}

.reviewText {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: rgba(17, 16, 28, 0.5);
}

@media (min-width: 768px) {
  .cardNanny {
    display: flex;
    gap: 30px;
  }
  .wrappImg {
    display: block;
    width: 100%;
    max-width: 200px;
  }

  .wrappCharacteristicNanny {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .dot {
    right: 10px;
  }
  .characteristicNanny {
    background: #f3f3f3;
    border-radius: 24px;
    padding: 8px 16px;
  }

  .wrappTest {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  .cardNanny {
    gap: 24px;
  }
  .wrappImg {
    max-width: 120px;
  }
  .dot {
    top: 12px;
    width: 20px;
    height: 20px;
  }

  ul.listNanny {
    padding: 0 128px;

    gap: 32px;
  }
  .wrappLocation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .wrappTest {
    display: flex;
    justify-content: space-between;
  }
}
