*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: sans-serif;
  background-color: #fff;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

button,
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}

button {
  background: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

video,
audio,
canvas,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}
